---
interface Props {
    href: string;
    threshold?: 'xs' | 'sm' | 'md' | 'lg' | 'xl' | undefined;
};
const props: Props = Astro.props;

const transition = 'transition-all duration-500 ease-in-out';
const threshold = props.threshold ?? 'xl';
---

<a
    class:list={[`bg-high flex gap-0 ${threshold}:hover:gap-2 group items-center p-4 rounded-2xl text-xl text-txt-high hover:text-accent uppercase`, transition]}
    href={props.href}
    target='_blank'>
    <slot name='icon' />
    <div class:list={[`max-w-0 ${threshold}:group-hover:max-w-collapsed-link overflow-hidden text-txt-high group-hover:text-txt-high`, transition]}>
        <slot />
    </div>
</a>
