---
interface Props {
    href: string;
};
const props: Props = Astro.props;
---

<a
    href={props.href}
    class='bg-high flex items-center p-4 rounded-2xl text-xl text-txt-high hover:text-accent uppercase'>
    <slot />
</a>

