---
interface Props {
    class?: string;
    href: string;
    targetSelf?: boolean;
};
const props: Props = Astro.props;
---

<a
    class:list={[
        'bg-high duration-500 ease-in-out flex gap-2 items-center p-4 rounded-2xl text-xl text-txt-high hover:text-accent transition-colors uppercase',
        props.class
    ]}
    href={props.href}
    target={props.targetSelf === false ? '_self' : '_blank'}
>
    <slot />
</a>
