---
import Heading from '@components/Heading.astro';
import IconLink from '@components/buttons/IconLink.astro';
import SidemenuLayout from '@layouts/SidemenuLayout.astro';
import { SOCIAL_LINKS } from 'src/Consts';

const socials = [
    'github',
    'linkedin',
    'twitter',
    'stackoverflow',
    'figma',
    'dribble'
];

const imageOverlayClasses = 'absolute bg-black  duration-500 ease-in-out left-0 opacity-0 group-hover:opacity-70 p-2 text-white transition-all w-full z-10';
---

<SidemenuLayout title='About' class='flex-col-reverse'>
    <div class='flex flex-1 flex-col md:gap-4 items-center md:py-28'>
        <div class='border-8 border-high md:block flex-1 group hidden pt-40 relative rounded-2xl select-none w-full max-w-1/2'>
            <p class:list={['top-0 rounded-t-lg', imageOverlayClasses]}>
                Location:
                <a
                    class='font-bold text-accent'
                    href='https://goo.gl/maps/BAFf5BXBEnZ6cQ5z5'
                    target='_blank'>
                    Lake Doxa
                </a>
            </p>
            <img
                alt='Stratis on a journey at Lake Doxa'
                class='absolute h-full left-0 object-center object-cover rounded-lg top-0 w-full'
                src='/assets/profile.jpg' />
            <p class:list={['bottom-0 rounded-b-lg', imageOverlayClasses]}>
                Picture of me during one of my favorite trips.
            </p>
        </div>
        <div class='flex flex-wrap gap-4 items-center justify-center max-w-xs'>
            {socials.map(item => SOCIAL_LINKS[item]).map(item => (
                <IconLink href={item!.url}>
                    {item && <item.icon class='w-6 h-6' />}
                </IconLink>
            ))}
        </div>
    </div>
    <div class='flex flex-1 flex-col justify-between md:py-28'>
        <Heading>About me</Heading>
        <div class='flex flex-col gap-4 text-txt-medium'>
            <p class='sm:text-lg lg:text-2xl'>I’m a <span class='text-accent font-bold'>Senior Software Developer</span> with an addiction to clean and efficient code.</p>
            <p class='sm:text-lg lg:text-2xl'>I started writing code when I was 15 years old as a hobby and it soon turned into my main profession.</p>
            <p class='sm:text-lg lg:text-2xl'>When I’m not working, I’m most likely enjoying a cup of coffee. ...or two.</p>
        </div>
        <p class='lg:text-2xl text-txt-medium'>Feel free to
            <a href={SOCIAL_LINKS.email!.url} class='text-accent font-bold'>email</a>
            me for business inquiries or anything else, even small talk.
        </p>
    </div>
</SidemenuLayout>
