---
import Heading from '../components/Heading.astro';
import SidemenuLayout from '../layouts/SidemenuLayout.astro';

---
<SidemenuLayout title='About'>
    <div class='flex flex-1 flex-col items-center md:py-28'>
    </div>
    <div class='flex flex-1 flex-col md:py-28'>
        <Heading>About me</Heading>
    </div>
</SidemenuLayout>