---
import Heading from '../components/Heading.astro';
import IconLink from '../components/buttons/IconLink.astro';
import SidemenuLayout from '../layouts/SidemenuLayout.astro';
import { SOCIAL_LINKS } from '../Consts';

const socials = [
    'github',
    'linkedin',
    'twitter',
    'stackoverflow',
    'figma',
    'dribble'
];
---

<SidemenuLayout title='About'>
    <div class='flex flex-1 flex-col items-center md:py-28'>
        <div class='flex gap-4 items-center'>
            {socials.map(item => SOCIAL_LINKS[item]).map(item => (
                <IconLink href={item!.url}>
                    {item && <item.icon class='w-6 h-6' />}
                </IconLink>
            ))}
        </div>
    </div>
    <div class='flex flex-1 flex-col justify-between md:py-28'>
        <Heading>About me</Heading>
        <div class='flex flex-col gap-4 text-txt-medium'>
            <p class='md:text-lg lg:text-2xl'>I’m a <span class='text-accent font-bold'>Senior Software Developer</span> with an addiction to clean and efficient code.</p>
            <p class='md:text-lg lg:text-2xl'>I started writing code when I was 15 years old as a hobby and it soon turned into my main profession.</p>
            <p class='md:text-lg lg:text-2xl'>When I’m not working, I’m most likely enjoying a cup of coffee. ...or two.</p>
        </div>
        <p class='lg:text-2xl text-txt-medium'>Feel free to
            <a href='mailto:stratis.dermanoutsos@gmail.com' class='text-accent font-bold'>email</a>
            me for business matters or anything else, even small talk.
        </p>
    </div>
</SidemenuLayout>
