---
import { PAGE_LINKS } from 'src/Consts';
import CollapsedLink from '@components/buttons/CollapsedLink.astro';
import Heading from '@components/Heading.astro';
import SidemenuLayout from '@layouts/SidemenuLayout.astro';
import ExpandedLink from '@components/buttons/ExpandedLink.astro';
---

<SidemenuLayout title='About this page'>
    <div class='flex flex-col flex-1 min-h-full items-center justify-between px-4 md:px-16 py-8 w-full'>
        <Heading class='text-center'>About this page</Heading>
        <div class='flex flex-col gap-4 px-4 md:px-8 text-center text-txt-high'>
            <p class='text-lg lg:text-2xl'>This page was designed and built by me.</p>
            <p class='text-lg lg:text-2xl'>I always enjoy constructive feedback, positive or negative, and improving my products based on that. This is no exception, so feel free to use the links bellow.</p>
            <p class='text-lg lg:text-2xl'>The idea is to keep it as minimal as possible without missing on content.</p>
        </div>
        <div class='flex gap-3 justify-center px-16'>
            {PAGE_LINKS.map(item => (
                <CollapsedLink href={item.url} threshold='sm'>
                    <item.icon class='h-6 w-6' slot='icon' />
                    {item.text}
                </CollapsedLink>
            ))}
        </div>
        <div class='w-fit'>
            <ExpandedLink href='https://github.com/sponsors/Stratis-Dermanoutsos'>
                <span class='font-bold text-accent'>Sponsor me on GitHub</span>
            </ExpandedLink>
        </div>
    </div>
</SidemenuLayout>
