---
import SidemenuLayout from '../layouts/SidemenuLayout.astro';
---

<SidemenuLayout title='Home'>
    <div class='flex flex-1 flex-col md:py-28'>
        <div class='mb-8'>
            <Heading>Hi, I'm <span class='text-accent font-bold'>Stratis</span></Heading>
            <p class='text-txt-medium lg:text-2xl'>Welcome to my page</p>
        </div>
        <div class='flex flex-col gap-4 text-txt-medium'>
            <p class='lg:text-2xl'>I’m a <span class='text-accent font-bold'>Senior Software Developer</span> specialising in web and mobile apps.</p>
            <p class='lg:text-2xl'>In my free time, I am either contributing to Open-Source projects or working on my cars.</p>
        </div>
    </div>
    <div class='flex flex-1 flex-col items-center justify-between md:py-28'>
    </div>
</SidemenuLayout>
