---
import Heading from '../components/Heading.astro';
import Or from '../components/Or.astro';
import ExpandedLink from '../components/buttons/ExpandedLink.astro';
import EmailIcon from '../components/icons/EmailIcon.astro';
import SidemenuLayout from '../layouts/SidemenuLayout.astro';
---

<SidemenuLayout title='Home'>
    <div class='flex flex-1 flex-col md:py-28'>
        <div class='mb-8'>
            <Heading>Hi, I'm <span class='text-accent font-bold'>Stratis</span></Heading>
            <p class='text-txt-medium lg:text-2xl'>Welcome to my page</p>
        </div>
        <div class='flex flex-col gap-4 text-txt-medium'>
            <p class='lg:text-2xl'>I’m a <span class='text-accent font-bold'>Senior Software Developer</span> specialising in web and mobile apps.</p>
            <p class='lg:text-2xl'>In my free time, I am either contributing to Open-Source projects or working on my cars.</p>
        </div>
    </div>
    <div class='flex flex-1 flex-col items-center justify-between md:py-28'>
        <Heading class='text-center'>Want to hire me?</Heading>
        <div class='flex flex-col gap-4 items-center text-txt-medium'>
            <p>My main source of income is freelancing.</p>
            <ExpandedLink href='mailto:stratis.dermanoutsos@gmail.com'>
                <EmailIcon class='w-6 h-6 mr-2 text-accent' />
                Email
            </ExpandedLink>
        </div>
        <Or class='px-4' />
    </div>
</SidemenuLayout>
