---
import { COMPANIES, SOCIAL_LINKS } from 'src/Consts';
import Heading from '@components/Heading.astro';
import Or from '@components/Or.astro';
import CollapsedLink from '@components/buttons/CollapsedLink.astro';
import ExpandedLink from '@components/buttons/ExpandedLink.astro';
import SidemenuLayout from '@layouts/SidemenuLayout.astro';
import Company from '@components/work/Company.astro';

const socials = [
    'fiverr',
    'linkedin',
    'upwork',
    'freelancer'
];
const email = SOCIAL_LINKS.email;
---

<SidemenuLayout title='Work'>
    <div class='flex flex-col flex-1 h-full w-full'>
        <div class='flex flex-col h-fit items-center justify-between min-h-work-hire-me pb-8'>
            <Heading class='text-center'>Want to hire me?</Heading>
            <div class='flex flex-col gap-4 items-center text-txt-medium'>
                <p>I strive to reply within an hour.</p>
                <ExpandedLink href={email!.url}>
                    {email && <email.icon class='w-6 h-6 text-accent' />}
                    {email!.text}
                </ExpandedLink>
            </div>
            <Or class='gap-8 px-14 sm:px-24 md:px-28 lg:px-32' />
            <div class='flex gap-4 items-center'>
                {socials.map(item => SOCIAL_LINKS[item]).map(item => (
                    <CollapsedLink href={item!.url} threshold='sm'>
                        {item! && <item.icon class='w-6 h-6' slot='icon' />}
                        {item!.text}
                    </CollapsedLink>
                ))}
            </div>
        </div>
        <div class='flex flex-col items-center py-8'>
            <Heading class='text-center'>My experience so far</Heading>
            <ul class='flex flex-col md:px-4 py-4 w-full'>
                {COMPANIES.map(company => <Company {...company} />)}
            </ul>
        </div>
    </div>
</SidemenuLayout>