---
import { SOCIAL_LINKS } from 'src/Consts';
import Heading from '@components/Heading.astro';
import Or from '@components/Or.astro';
import CollapsedLink from '@components/buttons/CollapsedLink.astro';
import ExpandedLink from '@components/buttons/ExpandedLink.astro';
import SidemenuLayout from '@layouts/SidemenuLayout.astro';

const socials = [
    'fiverr',
    'linkedin',
    'upwork',
    'freelancer'
];
const email = SOCIAL_LINKS.email;
---

<SidemenuLayout title='Work'>
    <div class='flex flex-col flex-1 h-full w-full'>
        <div class='flex flex-col h-fit items-center justify-between min-h-[372px] pb-8'>
            <Heading class='text-center'>Want to hire me?</Heading>
            <div class='flex flex-col gap-4 items-center text-txt-medium'>
                <p>I strive to reply within an hour.</p>
                <ExpandedLink href={email!.url}>
                    {email && <email.icon class='w-6 h-6 text-accent' />}
                    {email!.text}
                </ExpandedLink>
            </div>
            <Or class='gap-8 px-14 sm:px-24 md:px-28 lg:px-32' />
            <div class='flex gap-4 items-center'>
                {socials.map(item => SOCIAL_LINKS[item]).map(item => (
                    <CollapsedLink href={item!.url} threshold='sm'>
                        {item! && <item.icon class='w-6 h-6' slot='icon' />}
                        {item!.text}
                    </CollapsedLink>
                ))}
            </div>
        </div>
        <div class='flex flex-col items-center py-8'>
            <Heading class='text-center'>My experience so far</Heading>
            <ul class='flex flex-col p-4 w-full'>
                <li class='flex flex-col gap-2 px-4'> <!-- company -->
                    <a
                        class='duration-500 ease-in-out select-none text-2xl text-txt-high hover:text-accent w-fit transition-colors'
                        href='https://modus.gr'
                        target='_blank'
                        translate='no'> <!-- title -->
                        MODUS S.A.
                        <span class='text-lg text-txt-medium'>(1y 9m)</span> <!-- total duration -->
                    </a>
                    <ul class='flex flex-col gap-3 px-4 py-3'> <!-- job list -->
                        <li class='bg-high cursor-default duration-500 ease-in-out flex flex-col gap-2 md:gap-0 md:hover:gap-2 group max-h-fit md:max-h-11 md:hover:max-h-64 overflow-hidden px-4 py-2 rounded-2xl transition-all'> <!-- job -->
                            <h4 class='md:duration-500 md:ease-in-out select-none text-accent md:text-txt-high md:group-hover:text-accent text-2xl transition-colors' translate='no'>
                                Senior .NET Developer <!-- title -->
                            </h4>
                            <h5 class='md:duration-500 md:ease-in-out md:opacity-0 md:group-hover:opacity-100 text-txt-low md:transition-opacity'>MAY 2023 - PRESENT (3 months)</h5> <!-- duration -->
                            <h5 class='md:duration-500 md:ease-in-out md:opacity-0 md:group-hover:opacity-100 text-txt-medium md:transition-opacity'> <!-- description -->
                                Develops and maintains services handling business logic.
                                Created both desktop and web applications for internal use by the company.
                            </h5>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</SidemenuLayout>