---
const year = new Date().getFullYear();
---

<footer class='items-center flex h-12 justify-center py-auto w-full'>
    <span class='text-txt-low text-xs'>{year} © Stratis Dermanoutsos</span>
</footer>