---
import { SIDEMENU_ITEMS } from 'src/Consts';
import { SdIcon } from '@components/icons/icons';
import Footer from '@components/sidemenu/Footer.astro';
import NavLink from '@components/sidemenu/NavLink.astro';
import StatefulSidemenu from '@components/sidemenu/StatefulSidemenu.tsx';
---

<StatefulSidemenu client:load>
    <div class='h-full flex flex-col overflow-y-auto bg-low'>
        <div class='flex justify-center p-8 pt-12'>
            <SdIcon class='h-16 w-16 text-txt-high' />
        </div>
        <div class='flex-1 p-4'>
            <ul class='space-y-2 font-medium'>
                {SIDEMENU_ITEMS.map(item => <NavLink {...item} />)}
            </ul>
        </div>
        <Footer />
    </div>
</StatefulSidemenu>