---
import { SIDEMENU_ITEMS } from '../../Consts';
import { SdIcon } from '../icons/icons';
import Footer from './Footer.astro';
import NavLink from './NavLink.astro';
import StatefulSidemenu from './StatefulSidemenu.tsx';
---

<StatefulSidemenu client:load>
    <div class='h-full flex flex-col overflow-y-auto bg-low dark:bg-low'>
        <div class='flex justify-center p-8 pt-12'>
            <SdIcon class='h-16 w-16 text-txt-high' />
        </div>
        <div class='flex-1 p-4'>
            <ul class='space-y-2 font-medium'>
                {SIDEMENU_ITEMS.map(item => <NavLink {...item} />)}
            </ul>
        </div>
        <Footer />
    </div>
</StatefulSidemenu>