---
import { SIDEMENU_ITEMS } from '../../Consts';
import NavLink from './NavLink.astro';
import StatefulSidemenu from './StatefulSidemenu.tsx';
---

<StatefulSidemenu client:load>
    <div class='h-full px-3 py-4 overflow-y-auto bg-low dark:bg-low'>
        <ul class='space-y-2 font-medium'>
            {SIDEMENU_ITEMS.map(item => <NavLink title={item.title} url={item.url} icon={item.icon} />)}
        </ul>
    </div>
</StatefulSidemenu>