---
import { HamburgerIcon } from './icons/icons';
import Hamburger from './buttons/Hamburger';
---

<div class='bg-low md:hidden sm:pl-3 px-2 py-2 sticky top-0 z-10'>
    <Hamburger client:visible>
        <HamburgerIcon class='w-6 h-6' />
    </Hamburger>
</div>