---
import Backdrop from '@components/Backdrop';
import CommonHead from '@components/CommonHead.astro';
import MobileNavbar from '@components/MobileNavbar.astro';
import Sidemenu from '@components/sidemenu/Sidemenu.astro';

interface Props {
    title: string;
    class?: string;
};
const props: Props = Astro.props;
---

<html lang='en'>
    <CommonHead title={props.title} />
    <body class='bg-medium font-roboto'>
        <Backdrop client:idle />
        <MobileNavbar />
        <Sidemenu />
        <main class:list={[
                'flex flex-col md:flex-row gap-8 md:gap-4 min-h-[calc(100vh-56px)] md:min-h-screen overflow-y-scroll px-4 md:px-16 md:pl-80 py-8',
                props.class
            ]}>
            <slot />
        </main>
    </body>
</html>
