---
import CommonHead from '../components/CommonHead.astro';
import MobileNavbar from '../components/MobileNavbar.astro';
import Sidemenu from '../components/sidemenu/Sidemenu.astro';

interface Props {
    title: string;
};
const props: Props = Astro.props;
---

<html lang='en'>
    <CommonHead title={props.title} />
    <body>
        <MobileNavbar />
        <Sidemenu />
        <slot />
    </body>
</html>
